web/WEB-INF/wsdl/104.131.95.198_8080/MiniClient/CallerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="getLots" type="tns:getLots"/>

<xs:element name="getLotsResponse" type="tns:getLotsResponse"/>

<xs:element name="getPersons" type="tns:getPersons"/>

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>

<xs:complexType name="getPersons">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLots">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLotsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>