src/conf/xml-resources/web-service-references/CallerService/wsdl/104.131.95.198_8080/park_service/ParkingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ParkingService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://104.131.95.198:8080/park_service/ParkingService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"/>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"/>
</message>
<message name="getLots">
<part name="parameters" element="tns:getLots"/>
</message>
<message name="getLotsResponse">
<part name="parameters" element="tns:getLotsResponse"/>
</message>
<message name="addLot">
<part name="parameters" element="tns:addLot"/>
</message>
<message name="addLotResponse">
<part name="parameters" element="tns:addLotResponse"/>
</message>
<message name="addPerson">
<part name="parameters" element="tns:addPerson"/>
</message>
<message name="addPersonResponse">
<part name="parameters" element="tns:addPersonResponse"/>
</message>
<message name="AddrTest">
<part name="parameters" element="tns:AddrTest"/>
</message>
<message name="AddrTestResponse">
<part name="parameters" element="tns:AddrTestResponse"/>
</message>
<portType name="Parking">
<operation name="getPersons">
<input wsam:Action="http://service/Parking/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://service/Parking/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
<operation name="getLots">
<input wsam:Action="http://service/Parking/getLotsRequest" message="tns:getLots"/>
<output wsam:Action="http://service/Parking/getLotsResponse" message="tns:getLotsResponse"/>
</operation>
<operation name="addLot">
<input wsam:Action="http://service/Parking/addLotRequest" message="tns:addLot"/>
<output wsam:Action="http://service/Parking/addLotResponse" message="tns:addLotResponse"/>
</operation>
<operation name="addPerson">
<input wsam:Action="http://service/Parking/addPersonRequest" message="tns:addPerson"/>
<output wsam:Action="http://service/Parking/addPersonResponse" message="tns:addPersonResponse"/>
</operation>
<operation name="AddrTest">
<input wsam:Action="http://service/Parking/AddrTestRequest" message="tns:AddrTest"/>
<output wsam:Action="http://service/Parking/AddrTestResponse" message="tns:AddrTestResponse"/>
</operation>
</portType>
<binding name="ParkingPortBinding" type="tns:Parking">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLots">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddrTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ParkingService">
<port name="ParkingPort" binding="tns:ParkingPortBinding">
<soap:address location="http://104.131.95.198:8080/park_service/ParkingService"/>
</port>
</service>
</definitions>