web/WEB-INF/wsdl/104.131.95.198_8080/park_service/ParkingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="AddrTest" type="tns:AddrTest"/>

<xs:element name="AddrTestResponse" type="tns:AddrTestResponse"/>

<xs:element name="addLot" type="tns:addLot"/>

<xs:element name="addLotResponse" type="tns:addLotResponse"/>

<xs:element name="addPerson" type="tns:addPerson"/>

<xs:element name="addPersonResponse" type="tns:addPersonResponse"/>

<xs:element name="getLots" type="tns:getLots"/>

<xs:element name="getLotsResponse" type="tns:getLotsResponse"/>

<xs:element name="getPersons" type="tns:getPersons"/>

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>

<xs:complexType name="getLots">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLotsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPerson">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddrTest">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AddrTestResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersons">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="docNumber" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="org" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLot">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLotResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>